{% extends "base.html" %}

{% block content %}
    <h1>Blog Posts</h1>
    <form method='GET'>
    <!--    <label>
            Existing Posts:
        </label>   -->
            <ul>
                {% for post in posts %}
               <!-- <li>{{post.name}}-->
                    <li>{{post_title}}
                    <!-- <form method="POST" action="/delete-task" style="display:inline-block;">-->
                        <form method = "GET"></form>
                        <input type="hidden" name="post_id" value="{{post_id}}" />
                       <!-- <input type="submit" value="Done!" />-->
                    </form>
                </li>
                {% endfor %}
            </ul>

        
        <!--<input type="submit" value='Add Post' />-->
    </form>
{% endblock %}